<div class="flex justify-center items-center">
    <div class="2xl:mx-auto 2xl:container py-12 px-4 sm:px-6 xl:px-20 2xl:px-0 w-full">
        <div class="flex flex-col justify-center items-center space-y-10">
            <h1 class="text-3xl xl:text-4xl font-semibold leading-7 xl:leading-9 text-gray-800">Shop By Category</h1>
            <div id="image-collage" class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4 w-full">
                {% for department in allDepartments %}
                <div class="relative group flex justify-center items-center h-full w-full">
                    <img class="object-center object-cover h-full w-full" src="/media/shop/{% if department == 'Appliances' %}appilances.jpg{% elif department == 'Books' %}Books.jpeg{% elif department == 'Electronics' %}Electronics.jpg{% elif department == 'Fashion' %}Fashion.jpg{% elif department == 'Home & Kitchen' %}kitchen.jpg{% elif department == 'Sports & Outdoors' %}sports.jpeg{% elif department == 'Travel & Luggage' %}travel.jpg{% endif %}" alt="{{ department }}-image" />
                    <button class="dark:bg-gray-800  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-black py-3 w-36 bg-white">{{ department }}</button>
                </div>
                {% if forloop.counter|divisibleby:"3" %}
                    {% if not forloop.last %}
                        </div><div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4 w-full">
                    {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
