<div class="content-wrapper" style="width:95vw; float: right; background-color:rgb(238, 214, 162);">
    <!-- Slideshow starts here -->
    <div class="content-scroll">
        {% for department, category, products, range, nSlides in allProds %}
        <h5 class="my-4">Flash Sale On {{ category }} - Recommended Items</h5>
        <div class="row">
            <div id="demo{{ forloop.counter }}" class="col carousel slide my-3" data-ride="carousel">
                <div class="container carousel-inner no-padding">
                    <div class="carousel-item active">
                        {% for product in products %}

                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="card align-items-center rounded-lg overflow-hidden shadow-md hover:shadow-lg bg-white border border-gray-200" style="width: 14rem;">
                                <div class="relative overflow-hidden h-75">
                                    <img src='/media/shop/product.jpg' class="w-full h-full object-cover" alt="...">
                                </div>
                                
                                <div class="card-body">
                                    <h5 class="card-title" id="namepr{{ product.id }}" style="font-size: medium;">{{ product.product_name|slice:"0:30" }}</h5>
                                    <p class="card-text" style="font-size: small;">{{ product.description|slice:"0:40" }}...</p>
                                    <h6 class="card-title">Price: <span id="pricepr{{ product.id }}">{{ product.price }}</span></h6>
                                    <span id="divpr{{ product.id }}" class="divpr">
                                        <div class="mt-4">
                                            <button id="pr{{ product.id }}" class="btn btn-success cart w-full py-2">Add To Cart</button>
                                        </div>
                                    </span>
                                    <a href="/shop/products/{{ product.id }}"><button id="qv{{ product.id }}" class="btn btn-success cart my-2" style="width: 100%;">View</button></a>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                    </div>
                    <div class="carousel-item">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!-- left and right controls for the slide -->
                <a class="carousel-control-prev" href="#demo{{ forloop.counter }}" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo{{ forloop.counter }}" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
                <!-- Move carousel indicators here -->
                <ul class="carousel-indicators">
                    <li data-target="#demo{{ forloop.counter }}" data-slide-to="0" class="active"></li>
                    {% for i in range %}
                    <li data-target="#demo{{ forloop.parentloop.counter }}" data-slide-to="{{ i }}"></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
