<div class="sidebar-container min-h-screen overflow-y-auto bg-orange-500 text-white">
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <p>MENUS</p>
            {% for department in allDepartments %}
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="departmentDropdown{{ forloop.counter }}" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ department }}
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="departmentDropdown{{ forloop.counter }}">
                    {% for category in allCategories.department %}
                    <li><a class="dropdown-item" href="#">{{ category }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </ul>
    </nav>
</div>
